.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: darkslateblue;
}

.logo{
    margin-left: 16px;
    color: white;
}

.link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}